/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

.container {
  width: 900px;
  margin: 5% auto;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: left;
  width: 504px;
  padding: 20px 10px 0 0px;
}

.logo {
  float: left;
  margin-left: 3px;
}

.logo > img {

}

.login {
  float: right;
  margin-top: 17px;
  margin-right: 9px;

}

.btnlogin {
  height: 40px;
  width: 100px;
  background-image: linear-gradient(#6E91AF, #477197);
  border: 2px solid #3F6689;
  box-shadow: inset 0px 1px 1px 1px #799AB6;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}

.btnlogin > img {
  margin: 0 0 0 10px;
  float: left;
}
.btnlogin > p {
  margin: 3px 0 0 10px;
  float: left;
  font-weight: bold;
  color: #FBFBFB;
}

.info {
  clear: both;
  background: url("../images/frame.png");
  background-repeat: no-repeat;
  padding: 30px 30px 0 30px;
}

h2 {
  margin: 0;
  color: #06365f;
  line-height: 1.2em;
}

.info > p {
  font-size: 0.9em;
}

.download {
  margin-top: 30px;
}

.apple {
  width: 164px;
  height: 51px;
  float: left;
}

.android {
  width: 153px;
  height: 51px;
  float: left;
  margin-left: 20px;
}

.bottom {
  clear: both;
  padding-top: 50px;
  width: 600px;
  margin: 0 auto;
}

.bottom > a {
  font-weight: bold;
  color: #1c5380;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-right: 5px;
}

.bottom > span {
  color: #B0B0B1;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}


